.header
  .header__goal
.main
  .main__processes
.footer
  %button.btn.btn-success{type: "button"}
    Notifications
    %span.badge.badge-light
      4
  %a{href:"#",class:"badge badge-primary"}
    Primary
      4
