.main
  .main__stages
    .main__stages__stage
      = form_with model: [@goal,@stage],local:true do |f|
        = f.text_field :title
      -#   .main__stages_stage__name
      -#     Stage1 : ここに入力
          


      -# .main__stages_stage__edit.badge.badge-pill.badge-warning
      -#   保存
      -# .main__stages_stage__edit.badge.badge-pill.badge-danger
      -#   削除
      -# .main__stages_stage__name
      -#   Stage1 : ここに入力
      -# .main__stages_stage__dead
      -#   日付を入力する画面
      -# .main__stages_stage__speed
      -#   .progress
      -#     .progress-bar.progress-bar-striped.bg-danger{role:"progressbar", style:"Width: 25%", "aria-valuemin":"25" ,"aria-valuemax":"100"}
      -#   .main__stages_stage__speed__view
      -#     25%
      -# .main__stages_stage__tasks
      -#   %button.btn.btn-info{type: "button"}
      -#     残りTodo
      -#     %span.badge.badge-light
      -#       5