%ul.list-group
  %li.list-group-item
    %input{id: "box-#{active_todo.id}", type: "checkbox"}
    %label{for: "box-#{active_todo.id}"}
    %p
      = active_todo.title
    = link_to "削除", goal_stage_todo_path(@goal,@stage,active_todo), method: "delete"