.todo-index
  %ul.todo-index__list.list-group
    %li.todo-index__list--item.list-group-item
      %input#box-1{type: "checkbox"}
      %label{for: "box-1"}
      %p Todo First

    %li.todo-index__list--item.list-group-item
      %input#box-2{type: "checkbox"}
      %label{for: "box-2"}
      %p Todo Second

    %li.todo-index__list--item.list-group-item
      %input#box-3{type: "checkbox"}
      %label{for: "box-3"}
      %p Todo Third
