%ul.list-group
  %li.list-group-item
    %input#box-1{type: "checkbox"}
    %label{for: "box-1"}
    %p Todo First

  %li.list-group-item
    %input#box-2{type: "checkbox"}
    %label{for: "box-2"}
    %p Todo Second

  %li.list-group-item
    %input#box-3{type: "checkbox"}
    %label{for: "box-3"}
    %p Todo Third

