%ul.list-group
  %li.list-group-item
    Todo First
    %input.form-check-input{type: "checkbox", id: "defaultCheck1"}
    %label.form-check-label{for: "defaultCheck1"}

  %li.list-group-item Todo Second

  %li.list-group-item Todo Third

