.container.text-center
  %hr/
  .row.justify-content-center
    .h2.col-md-3
      現在の目標：
    .h2.col-md-7
      = "チーム開発でアプリを作成する"
    .col-md-2
      達成目標日：
      = "2020/02/07(Fri)"
  %hr/
  .row.justify-content-center
    .h3.col-md-3
      期間目標：
    .h3.col-md-7
      = "個人で目標達成を管理できる部分まで機能を作る"
    .col-md-2
      達成目標日：
      = "2020/01/31(Fri)"
  %hr/
  %table.table.table-hover.mx-auto{style: 'width:60%'}
    %thead.thead-dark
      %tr
        %th{style: 'width:20%'} 完了
        %th Todo
    %tbody
      %tr
        %td ☑️
        %td ユーザ機能の追加
      %tr
        %td ☑️
        %td ゴール機能
      %tr
        %td □
        %td プロセス機能
      %tr
        %td □
        %td Todo機能
      %tr
        %td □
        %td ユーザ機能の追加
      %tr
        %td □
        %td ゴール機能
      %tr
        %td □
        %td プロセス機能
      %tr
        %td □
        %td Todo機能