// Place all the styles related to the processes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color:#333333;
}
.header{
  &__exit{
    margin: 15px;
  }
  &__goal-name{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

.main{
  margin-top: 50px;
  &__processes{
    &__process{
      margin-bottom: 30px;
      &__name{
        margin-bottom: 30px;
        text-align: center;
      }
      &__dead{
        text-align: center;
        margin-bottom: 15px;
      }
      &__speed{
        margin-bottom: 15px;
        .progress{
          margin:10px 30px;
          width: 50%;
          margin: 0 auto;
        }
        &__view{
          text-align: center;
          margin-top: 15px;
        }
      }
      &__tasks{
        display: flex;
        justify-content: center;
      }
    }
  }
}
.footer{
  &__add{
    margin: 15px;
  }
}