body{
  background-color: #f6f6f6;
  .header{
    height: 56px;
    width: 100%;
    background-image: url(AdobeStock_242452313.jpeg);
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      line-height: 56px;
      padding-left: 50px;
      &--text{
        text-decoration: none;
        color: #fff;
      }
    }
    &__right{
      padding-right: 50px;
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        margin-left:15px;
      }
    }
  }
}